/* BASICS */

body{
background:#ffffff;
}

/* TEXT */

/* ELEMENTS */

#footer{
	background:#333333;
	height:200px;
}

#header{
	background:#ffffff;
}

#search{
	margin-top:100px;
}



